/* RESET ABOVE */

html {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.spacer {
    margin-bottom: 200px;
}

.columnleft {
    flex-grow: 1;
    transition: 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 280px;
    height: auto;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    letter-spacing: 2px;
    color: #454740;
}

.bio,
.title {
    color: #454740;
}


/* NEW ADDITONS  */

.columnright {
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    overflow: hidden;
    transition: 0s;
    flex-grow: 0;
    border-left: 1px solid #EAEAEA;
}

.columnright:hover {
    overflow: auto;
}

.nav {
    border-bottom: 0px solid #FFFFFF;
    width: 0px;
    transition: 0s;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav ul a {
    text-decoration: none;
    color: #454740;
    margin: 1em;
    opacity: .9;
    transition: 0.2s;
}

.nav ul a:hover {
    color: black;
    padding-bottom: 18px;
    border-bottom-style: solid;
    border-bottom-color: #454740;
    transition: 0.3s;
    cursor: pointer;
}


/* MAIN CONTENT */

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wip {
    display: none;
}


/* MEDIA QUERY SECTION */

@media screen and (max-width:600px) {
    .columnright {
        display: none;
    }
}