html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}


/* Left Column */

.columnleft {
    background-color: #FFFFFF;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d8c5c5;
    color: #454740;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    letter-spacing: 2px;
}


/* Right side */

.columnright {
    background-color: #FFFFFF;
    flex-grow: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    overflow: hidden;
}

.columnright:hover {
    overflow: auto;
}

.nav {
    border-bottom: 1px solid #EAEAEA;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav ul a {
    text-decoration: none;
    color: #454740;
}

.nav ul a:hover {
    color: black;
    padding-bottom: 3px;
    border-bottom-style: solid;
    transition: 0.2s;
}