
.soonContainter{
    margin-left: 2em;
    margin-right: 2em;
}

.soon{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
   
}

.comingSoonText{
    color: white;
    font-size: 1em;
    font-weight: 200;
 

}