
.header{
    margin: 0px;
    margin-bottom: 0em;
    margin-top: 3em;
    width: 45em;
}

.headerName{
    color:#212121;
    font-size: 3em;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.headerBio{
    color: #212121;
    font-size: 1.3em;
    margin: 0px;
    font-weight: 500;
    padding: 0px;
    margin-bottom: 1em;

}

