/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
* {
  margin: 0;

}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #18181A;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}
/* ---------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42rem;
  margin: 8rem 1rem 0;
  padding: 3rem;
  max-width: 42rem;
  width: 100vw;
  white-space: pre-line;
}

header {
  display: flex;
  width: 100%;
}

header h1 {
  color: #f3f4f6;
  font-size: 1.5em;
  font-weight: 650;
  font-family: inherit;
  letter-spacing: -0.02rem;
  display: inline;
}

nav {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 500; 
}

.nav-dark a {
  color: #66686D;
  border-bottom: none;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  border-top: 1px solid #5e6365;
  margin: 5rem; 
  padding-top: 3rem;
  width: 100%;
  font-size: 0.8rem;
  color: #aaa;
  line-height: 1.2em;
  display: flex;
}

.link {
  text-decoration: none;
  margin-left: 1rem;
  color: #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  font-weight: 350;
  font-size: .9rem;
}

.link:hover{
  color: #b5b5b5;
  border-bottom: 1px solid #66686D;
}

p {
  width: 100%;
  color: #d1d5db;
  margin-top: 1.5rem;
}

.text-link {
  color: #f3f4f6;
  text-decoration: none;
  border-bottom: 1px solid #f3f4f6;
}

.text-link:hover{
  color: #b5b5b5;
  border-bottom: 1px solid #66686D;
}

section {
  width: 100%;
}

.project-nav {
  display: flex;
  flex-direction: column;
  /* border: 1px solid pink; */
}
.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #5e6365;
  text-decoration: none;
  color: #FFFFFF
}

.project:hover {
  cursor: pointer;
  color: #66686D;
}

.project-last {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-bottom: .5rem;
  text-decoration: none;
  color: #FFFFFF
}

.project-desc {
  color: #66686D;
  font-weight: 400;
}

.thought {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;
}

.thought:hover {
  cursor: pointer;
  color: #66686D;
}

.thought-title {
  color: #f3f4f6;
  font-weight: 700;
}

.thought-desc {
  color: #66686D;
  font-weight: 400;
}
