
.section{
    margin-bottom: 1.5em;
    margin-top: 6em;
}

.sectionHeader{
    color:#212121;
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

.sectionDescription{
    color: #212121;
    font-size: 1.3em;
    margin: 0px;
    padding:0px;
    font-weight: 100;
}

.source{
    margin-top: 15em;
    color:#212121;
    text-decoration: none;
}

.source:hover{
    color: #ff2467;
}