.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav a {
    margin:1em;
    font-size: .75rem;
    text-decoration: none;
    color: #a7a2a9;
    /* #3c3e40 */
    /*  */
}

.nav a:hover{
    color:#ff2467;
}